body{
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next';
    font-weight: 400;
    color: #33334f;
}
.wrapper{
    height: auto;
    background: #f8faff;
    padding: 27px;
    margin: 0 auto;
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.header{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.big-fonts{
    font-size: 2.571428571rem;
    font-weight: 400;
    margin: 0;
}
.responsive-title{
    font-size: 14px;
    margin-left: 20px;
    font-weight: 400;
    display: none;
    margin-bottom: 0;
}
.normal-fonts{
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
.medium-fonts{
    font-size: 14px;
    font-weight: 400;
}
.btn{
    padding: 0.571428571rem 0.928571429rem;
    font-size: 1.142857143rem;
    border: none;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}
.configuration{
    background: #3ce2a4;
    color: #fff;
}
.btn:hover{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(51,51,79,0.5);
    -moz-box-shadow: 0px 0px 8px 0px rgba(51,51,79,0.5);
    box-shadow: 0px 0px 8px 0px rgba(51,51,79,0.5);
}
.page-menu{
    max-width: 506px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    margin-top: 100px;
}
.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.block-grey{
    max-width: 230px;
    width: 100%;
    height: 40px;
    background: #f7f7f7;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    margin-right: 50px;
    border-radius: 4px;
}
.delete,
.add{
    width: 20px;
    height: 20px;
    background: #ff6b7f;
    border-radius: 100%;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    color: #fff;
    right: 20px;
    cursor: pointer;
}
.add{
    background: #3ce2a4;
}
.list-teatarea{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.list-teatarea li{
    list-style-type: none;
    width: calc(50% - 10px);
    margin-right: 10px;
    border-radius: 4px;
}
.list-teatarea li textarea{
    border: none;
    outline: none;
    resize: none;
    min-height: 60px;
    height: auto;
    padding: 20px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    box-sizing: border-box;
    width: 100%;
}
.list-teatarea .medium-fonts{
    margin-left: 20px;
}
.margin-top{
    margin-top: 40px;
    margin-left: 20px;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
tr {
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
}
.title{
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.column-title{
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 0.3em;
}
.info-block, .column-title {
    text-align: left;
}
.info-block{
    width: 15%;
}
.info-block:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.row-table td:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.info-block .text-input,
.info-block select{
    max-width: 230px;
    width: 100%;
    line-height: 40px;
    outline: none;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    border: 1px solid lightgrey;
    margin-right: 50px;
}
.info-block select{
    height: 44px;
    max-width: 250px;
}
.info-block .text-input::placeholder{
    color: #1f2832;
}
.button-delete{
    text-align: right;
    padding-right: 20px;
}


/*responsive*/

@media (max-width: 1025px){
    .list-block{
        flex-wrap: wrap;
    }
    .big-fonts{
        font-size: 1.2rem;
    }
    .second-block-question{
        border-bottom-left-radius: 4px !important;
        border-top-left-radius: 4px !important;
    }
    .content{
    margin-top: 40px;
    }
    .btn{
    font-size: 0.8rem;
    }
    .info-block .text-input,
    .block-grey{
        max-width: 95%;
        margin-right: 20px;
    }
    .container-header{
        flex-direction: column;
    }
    .page-menu{
        margin-top: 20px;
    }
    .responsive-title{
        display: block;
    }
}
@media (max-width: 768px){
    .normal-fonts{
        margin-top: 20px;
    }
}
@media (max-width: 607px){
    .info-block .text-input,
    .block-grey{
        max-width: 95%;
        margin-right: 20px;
    }
}
@media (max-width: 570px){
    .second-block{
        border-bottom-left-radius: 4px !important;
        border-top-left-radius: 4px !important;
        border-right: none !important;
    }
    .wrapper-radio {
        border-right: none;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    .container-header{
        flex-direction: column;
    }
    .page-menu{
        margin-top: 20px;
    }
    .list-teatarea li{
        width: 100%;
        margin-right: 0;
    }
    .list-teatarea li textarea{
        width: 100%;
    }
    .normal-fonts{
        margin-top: 20px;
    }
    .info-block .text-input,
    .block-grey{
        max-width: 94%;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table, .header-table, tbody, .column-title, .info-block, .row-table {
        display: block;
    }
    .header-table .row-table {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .info-block select{
        max-width: 100%;
        margin-right: 20px;
    }
    .row-table {
        border: 1px solid #ccc;
        padding-bottom: 4%;
        padding-right: 40px;
    }
    .delete, .add{
        width: 40px;
        height: 40px;
    }
    .info-block {
        border: none;
        position: relative;
        width: 100%;
        max-width: 100%;
    }
    /*.info-block:before {*/
        /*position: absolute;*/
        /*top: 6px;*/
        /*left: 6px;*/
        /*width: 45%;*/
        /*padding-right: 10px;*/
        /*white-space: nowrap;*/
    /*}*/
    /*.info-block:nth-of-type(1):before { content: "Domain"; }*/
    /*.info-block:nth-of-type(2):before { content: "Language"; }*/
    /*.info-block:nth-of-type(3):before { content: "Country"; }*/
    /*.info-block:nth-of-type(4):before { content: "Content origin"; }*/
}
@media (max-width: 480px) {
    .info-block .text-input{
        margin: 0;
        margin-top: 20px;
        margin-left: 20px;
        max-width: 90%;
    }
    .big-fonts{
        text-align: center;
    }
    .btn{
        margin-right: 10px;
    }
    .btn:last-child{
        margin-right: 0;
    }
    .block-grey{
        max-width: 90%;
    }
    .normal-fonts{
        font-size: 18px;
        margin-top: 20px;
    }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px; }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}
