* a{
    color: #33334f;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next';
    font-weight: 400;
    color: #33334f;
}
.wrapper{
    height: auto;
    background: #f8faff;
    padding: 27px;
    margin: 0 auto;
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.header{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.big-fonts{
    font-size: 2.571428571rem;
    font-weight: 400;
    margin: 0;
}
.responsive-title{
    font-size: 14px;
    margin-left: 20px;
    font-weight: 400;
    display: none;
    margin-bottom: 0;
}
.normal-fonts{
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
.medium-fonts{
    font-size: 14px;
    font-weight: 400;
}
.btn{
    padding: 0.571428571rem 0.928571429rem;
    font-size: 1.142857143rem;
    border: none;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}
a.btn{
   color: #33334f;
}
.configuration{
    background: #3ce2a4;
    color: #fff;
}
.btn:hover{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(51,51,79,0.5);
    -moz-box-shadow: 0px 0px 8px 0px rgba(51,51,79,0.5);
    box-shadow: 0px 0px 8px 0px rgba(51,51,79,0.5);
}
.page-menu{
    max-width: 506px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    margin-top: 100px;
}
.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.block-grey{
    max-width: 230px;
    width: 100%;
    height: 40px;
    background: #f7f7f7;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    margin-right: 50px;
    border-radius: 4px;
}
.delete,
.add{
    width: 20px;
    height: 20px;
    background: #ff6b7f;
    border-radius: 100%;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    color: #fff;
    right: 20px;
    cursor: pointer;
}
.add{
    background: #3ce2a4;
}
.list-teatarea{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.list-teatarea li{
    list-style-type: none;
    width: calc(50% - 10px);
    margin-right: 10px;
    border-radius: 4px;
}
.list-teatarea li textarea{
    border: none;
    outline: none;
    resize: none;
    min-height: 60px;
    height: auto;
    padding: 20px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    box-sizing: border-box;
    width: 100%;
}
.list-teatarea .medium-fonts{
    margin-left: 20px;
}
.margin-top{
    margin-top: 40px;
    margin-left: 20px;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
tr {
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
    box-shadow: 0px 0px 4px 0px rgba(51,51,79,0.4);
}
.title{
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.column-title{
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 0.3em;
}
.info-block, .column-title {
    text-align: left;
}
.info-block{
    width: 12.5%;
    padding: 0 10px;
}
.info-block:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.row-table td:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.info-block .text-input,
.info-block select{
    max-width: 230px;
    width: 100%;
    line-height: 40px;
    outline: none;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    border: 1px solid lightgrey;
}
.info-block select{
    height: 44px;
    max-width: 250px;
}
.info-block .text-input::placeholder{
    color: #1f2832;
}
.button-delete{
    text-align: right;
    padding-right: 20px;
}


/*responsive*/

@media (max-width: 1398px){
    .big-fonts{
        font-size: 2.4rem;
    }
}
@media (max-width: 1345px){
    .big-fonts{
        font-size: 2.2rem;
    }
}
@media (max-width: 1285px){
    .big-fonts{
        font-size: 2rem;
    }
}
@media (max-width: 1025px){
    .list-block{
        flex-wrap: wrap;
    }
    .big-fonts{
        font-size: 1.2rem;
    }
    .second-block-question{
        border-bottom-left-radius: 4px !important;
        border-top-left-radius: 4px !important;
    }
    .content{
    margin-top: 40px;
    }
    .btn{
    font-size: 0.8rem;
    }
    .info-block .text-input,
    .block-grey{
        max-width: 100%;
        margin-right: 20px;
    }
    .container-header{
        flex-direction: column;
    }
    .page-menu{
        margin-top: 20px;
    }
    .responsive-title{
        display: block;
    }
}
@media (max-width: 768px){
    .normal-fonts{
        margin-top: 20px;
    }
}
@media (max-width: 607px){
    .info-block .text-input,
    .block-grey{
        max-width: 100%;
        margin-right: 20px;
    }
}
@media (max-width: 570px){
    .second-block{
        border-bottom-left-radius: 4px !important;
        border-top-left-radius: 4px !important;
        border-right: none !important;
    }
    .wrapper-radio {
        border-right: none;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    .container-header{
        flex-direction: column;
    }
    .page-menu{
        margin-top: 20px;
    }
    .list-teatarea li{
        width: 100%;
        margin-right: 0;
    }
    .list-teatarea li textarea{
        width: 100%;
    }
    .normal-fonts{
        margin-top: 20px;
    }
    .info-block .text-input,
    .block-grey{
        max-width: 100%;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table, .header-table, tbody, .column-title, .info-block, .row-table {
        display: block;
    }
    .header-table .row-table {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .info-block select{
        max-width: 100%;
        margin-right: 20px;
    }
    .row-table {
        border: 1px solid #ccc;
        padding-bottom: 4%;
        padding-right: 40px;
    }
    .delete, .add{
        width: 40px;
        height: 40px;
    }
    .add, .delete{
        font-size: 20px;
    }
    .info-block {
        border: none;
        position: relative;
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    .info-block .text-input{
        margin: 0;
        margin-top: 20px;
        margin-left: 20px;
        max-width: 100%;
    }
    .big-fonts{
        text-align: center;
    }
    .btn{
        margin-right: 10px;
    }
    .btn:last-child{
        margin-right: 0;
    }
    .block-grey{
        max-width: 90%;
    }
    .normal-fonts{
        font-size: 18px;
        margin-top: 20px;
    }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px; }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}


/*-------------------------------form style---------------------------------------------*/


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 16px;
    line-height: 1;
    touch-action: manipulation
}

html.dark {
    background: #29323c
}

html, body, #react-root, #content-root {
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #f7f7f7
}

body, #react-root {
    font-size: 1rem
}

#app-root.active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    overflow: hidden
}

#app-root.active #content-root_overlay {
    display: block;
    transform: translate3d(60%, 0, 0) scale3d(.85, .85, 1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

#app-root #content-root {
    position: absolute;
    overflow-y: auto;
    right: 0;
    top: 0;
    overflow-x: hidden
}

#app-root.active #content-root {
    transform: translate3d(60%, 0, 0) scale3d(.85, .85, 1);
    transition: transform 300ms ease;
    position: absolute;
    opacity: .95;
    width: auto;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: .25rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22)
}

@media (min-width: 1000px) {
    #app-root.active #content-root {
        transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
        position: relative;
        width: 100%;
        overflow: scroll;
        box-shadow: none
    }
}

#content-root_overlay {
    z-index: 3;
    display: none
}

#content-root {
    position: relative;
    z-index: 2;
    max-width: 100vw;
    width: 100%;
    transition: transform 300ms ease
}

@media (min-width: 1000px) {
    #content-root {
        max-width: calc(100% - 250px);
        float: right
    }
}

.container {
    width: 100%;
    padding: 0;
    margin: 0
}

.container-fullheight {
    height: calc(100% - 70px)
}

.hidden {
    display: none
}

@media (min-width: 1000px) {
    .hidden-desktop {
        display: none
    }
}

@media (min-width: 1000px) and (max-width: 1191px) {
    .hidden-desktop-only {
        display: none
    }
}

@media (min-width: 769px) {
    .hidden-tablet {
        display: none
    }
}

@media (min-width: 769px) and (max-width: 999px) {
    .hidden-tablet-only {
        display: none
    }
}

@media (max-width: 768px) {
    .hidden-mobile {
        display: none
    }
}

* {
    -webkit-tap-highlight-color: transparent
}

h1 {
    font-size: 1.3rem
}

.form-title {
    font-size: 1.1rem
}

.title-h3 {
    font-size: 1rem
}

h4 {
    font-size: .9rem
}

h5 {
    font-size: .8rem
}

h1, .form-title, .title-h3, h4, h5 {
    font-weight: 700;
    color: #29323c;
    margin-bottom: 1rem;
    text-transform: uppercase
}

@media (min-width: 1000px) {
    ul, li, table, tbody, th, tr, td, section, span, p, i, strong, b, input, select, option, textarea {
        font-size: .85rem
    }
}

div {
    font-weight: 300;
    font-style: normal;
    font-size: .85rem;
    line-height: 1.3
}

i {
    font-style: italic
}

strong, b {
    font-weight: 700
}

p {
    margin-bottom: 1rem
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}

input[type=button]:hover, input[type=submit]:hover, input[type=checkbox]:hover, button:hover, a:hover {
    cursor: pointer
}

.input-form, button {
    -webkit-appearance: none
}


.card > .input-form, .card > input[type=search], .card > input[type=password], .input-form.card, input[type=search].card, input[type=password].card {
    border: 1px solid #eee
}

.input-form {
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border 300ms ease;
    -webkit-transition: border 300ms ease;
    -moz-transition: border 300ms ease;
    -ms-transition: border 300ms ease;
    -webkit-appearance: none
}

.input-form:focus, input[type=search]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus, select:focus {
    outline: 0
}

.input-form::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .16) !important
}

.input-form:-moz-placeholder, input[type=password]:-moz-placeholder {
    color: rgba(0, 0, 0, .16) !important
}

.input-form::-moz-placeholder, input[type=password]::-moz-placeholder {
    color: rgba(0, 0, 0, .16) !important
}

.input-form:-ms-input-placeholder, input[type=password]:-ms-input-placeholder {
    color: rgba(0, 0, 0, .16) !important
}
input[type=submit] {
    color: #fff;
    background: #36d7b7;
    border: 1px solid #36d7b7;
    padding: 9px 18px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .75rem;
    margin-bottom: auto;
    -webkit-appearance: none
}

input[type=submit]:focus {
    outline: 0
}

input[type=submit]:hover {
    cursor: pointer;
    color: #36d7b7;
    border: 1px solid #36d7b7;
    background: #fff
}

a {
    color: #36d7b7;
    display: block;
    text-decoration: none
}

a.disabled, .button.disabled, input.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .6
}

a.button {
    color: #fff;
    background: #36d7b7;
    border: 1px solid #36d7b7;
    padding: 9px 18px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .75rem;
    display: inline-block
}

a.button-register:hover, input.button-register:hover, a.button-login:hover, input.button-login:hover {
    border: 0
}

a:hover, select:hover, input[type=submit] {
    cursor: pointer
}

label {
    color: #667;
    padding: 0 0 10px;
    display: block
}

.form-public-container {
    padding: 1.5rem 0;
    text-align: center;
    width: 100%
}

.form-public-container img {
    height: 3.5rem;
    width: auto;
    margin-bottom: 2rem
}

@media (min-width: 1000px) {
    .form-public-container img {
        height: 5rem
    }
}

.form-public-container .form-public-container-inner {
    margin: 0 auto;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
    overflow: hidden;
    width: 90%;
    transition: all 300ms ease
}

@media (min-width: 769px) {
    .form-public-container .form-public-container-inner {
        width: 75%
    }
}

@media (min-width: 1000px) {
    .form-public-container .form-public-container-inner {
        width: 28rem
    }
}

.form-public-container .form-public .form-public-head {
    padding: 2rem 2rem 1rem
}

@media (min-width: 1000px) {
    .form-public-container .form-public .form-public-head {
        padding: 2rem 3rem 1rem
    }
}

.form-public-container .form-public .form-public-head h1, .form-public-container .form-public .form-public-head .form-title, .form-public-container .form-public .form-public-head .title-h3, .form-public-container .form-public .form-public-head h4, .form-public-container .form-public .form-public-head h5 {
    text-align: center
}

.form-public-container .form-public .form-public-body {
    border-bottom: 1px solid #e9ecf0;
    text-align: left;
    padding: 1rem 2rem 2rem
}

@media (min-width: 1000px) {
    .form-public-container .form-public .form-public-body {
        padding: 1rem 3rem 2rem
    }
}

.form-public-container .form-public .form-public-body .input-form, .form-public-container .form-public .form-public-body input[type=email], .form-public-container .form-public .form-public-body input[type=password] {
    background: #eceff1;
    border: 1px solid #e9ecf0
}

.form-public-container .form-public .form-public-body label {
    padding-bottom: .5rem
}

.form-public-container .form-public .form-public-body input {
    width: 100%;
    padding: .75rem;
    font-size: 1rem
}

@media (min-width: 1000px) {
    .form-public-container .form-public .form-public-body input {
        font-size: .875rem
    }
}

.form-public-container .form-public .form-public-body input:last-child {
    margin-top: 1rem
}

.form-public-container .form-public .form-public-body input:not(:last-child) {
    margin-bottom: 1rem
}

.form-public-container .form-public .form-public-body p.errorMessage {
    color: #f62459;
    font-weight: 700
}

.form-public-container .form-public .form-public-footer a {
    font-weight: 400;
    color: #29323c;
    text-decoration: underline
}

.form-public-container .form-public .form-public-footer p {
    padding: 0 1.5rem
}

.form-public-container .form-public .form-public-footer p:first-child {
    padding-top: 2rem
}

.form-public-container .form-public .form-public-footer p:last-child {
    padding-bottom: 2rem;
    margin-bottom: 0
}

.form-public-container .form-public .form-public-footer p a {
    display: inline
}

.form-public-container .form-public .form-public-footer .column a {
    padding: 2rem 0
}

.form-public-container .form-public .form-public-footer .column:first-child a {
    padding-left: 2rem
}

@media (min-width: 1000px) {
    .form-public-container .form-public .form-public-footer .column:first-child a {
        padding-left: 3rem
    }
}

.form-public-container .form-public .form-public-footer .column:last-child a {
    padding-right: 2rem
}

@media (min-width: 1000px) {
    .form-public-container .form-public .form-public-footer .column:last-child a {
        padding-right: 3rem
    }
}

.form-public-container .form-public.form-public-register .columns .column {
    text-align: center;
    padding: 4rem 4rem 3rem
}

.form-public-container .form-public.form-public-register .columns .column .icon {
    color: #eceff1;
    font-size: 5rem
}
.is-mobile{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 480px) {
    .is-mobile{
        flex-direction: column;
    }
    .form-public-container .form-public .form-public-footer .column a {
        padding: 1rem 0;
    }
    .form-public-container .form-public .form-public-footer .column:first-child a{
        padding-left: 0;
    }
    .form-public-container .form-public .form-public-footer .column:last-child a{
        padding-right: 0;
    }
}
